{% extends "base_logged_in.html" %}

{% load static %}

{% block content %}

<h1>Generate Your Cover Letter</h1>

<!-- Dynamic Steps Section -->
<div id="dynamic-steps">
    <!-- First Step: Input Job Description -->
    <section id="job-description-block" class="step-block">
        <h2 class="step-title">Job Description</h2>
        <textarea id="job-description" rows="10"
            placeholder="Paste the job description here..."></textarea>
        <h2 class="next-step-name">Find Company</h2>
        <div id="first-step" class="action-buttons-next">
            <button class="btn next-btn">Next</button>
        </div>
    </section>
    <!-- Steps generated dynamically will appear here -->
</div>

<!-- Generic Step Template -->
<template id="step-template">

    <section class="step-block">
        <div class="step-title-wrapper">
            <h2 class="step-title">Step Title</h2>
        </div>
        <div class="step-content">
            <!-- Dynamic content goes here -->
        </div>
        <div class="action-buttons-line">
            <button class="btn left-btn same-step-btn">Left</button>
            <button class="btn retry-btn same-step-btn">Retry</button>
            <button class="btn right-btn same-step-btn">Right</button>
        </div>
        <p class="next-step-name">Name of the Following Step</p>
        <div class="action-buttons-next">
            <button class="btn next-btn">Next</button>
        </div>
    </section>
</template>

{% endblock %}

{% block more_js %}
<script src="{% static 'jda/js/scripts.js' %}"></script>
{% endblock %}
